[build]
  command = "npm run build"
  publish = "dist"
  functions = "netlify/functions"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200

[[redirects]]
  from = "/google-product-feed.xml"
  to = "/.netlify/functions/google-product-feed"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

